.task-list-head-wrapper {
  margin: 0 auto;
  width: 65%;

  .info-head {
    margin: 26px auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .heading-info {
      h5 {
        margin: 0;
        padding: 0;
        font-size: 24px;
      }
    }

    .create-btn-container {
      button {
        border: none;
        background: #404040;
        color: #ffffff !important;
        font-weight: 100;
        padding: 20px;
        text-transform: uppercase;
        border-radius: 6px;
        display: inline-block;
        transition: all 0.3s ease 0s;

        &:hover {
          cursor: pointer;
          color: #404040 !important;
          font-weight: 700 !important;
          letter-spacing: 1px;
          background: none;
          -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
          -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
          transition: all 0.3s ease 0s;
        }
      }
    }

    .input-search-container {
      input {
        border: 2px solid;
        border-radius: 20px;
        font-size: 1rem;
        margin: 0.25rem;
        min-width: 125px;
        padding: 0.5rem;
        transition: background-color 0.5s ease-out;
        outline: none;
      }
    }
  }

  .todo-list-container {
    .list-container {
      .list-item-container {
        list-style: none;
        margin: 20px;
        border: 1px solid gainsboro;
        border-radius: 3px;
        padding: 14px;
        user-select: none;

        &:hover {
          border: 1px solid rgb(109, 101, 101);
        }

        .inner-li {
          display: flex;
          justify-content: space-between;


          .task-container {
            font-size: 20px;

            input {
              color: red;
            }

            input:disabled {
              color: unset;
              background-color: transparent;
              border: 2px solid transparent;
            }
          }

          .right-control-container {
            display: flex;
            align-items: center;

            .li-controls {
              display: flex;

              .action-icon {
                border-radius: 2px;
                height: 30px;
                width: 30px;
                padding: 2px;
                transition: background-color 0.3s ease;
                margin: 0 2px;

                &:hover {
                  cursor: pointer;
                  transition: background-color 0.3s ease;
                }
              }

              .check-icon {
                &:hover {
                  background-color: rgb(54, 148, 0);
                }
              }

              .edit-icon {
                &:hover {
                  background-color: rgb(255, 255, 0);
                }
              }

              .del-icon {
                &:hover {
                  background-color: #ff3131;
                }
              }
            }
          }
        }
      }
    }
  }
}